.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
.holder{
    
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(268, 58%, 48%);
    --first-color-alt: hsl(268, 28%, 38%);
    --second-color: hsl(335, 88%, 56%);
    --second-color-alt: hsl(328, 78%, 38%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(252, 100%, 87%);
    --body-color: hsl(268, 58%, 22%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1152px) {
    :root {
      --biggest-font-size: 4rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .main {
    overflow: hidden; /* For animation */
  }
  
  /*=============== HEADER & NAV ===============*/
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideIn 0.5s ease forwards;
  }
  
  
  .logo {
    color: var(--text-color);
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
  }
  
  .logo i {
    font-size: 1.25rem;
    font-weight: initial;
  }
  
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1023px) {
    .nav_bar {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--body-color);
      width: 80%;
      height: 100%;
      box-shadow: 0 0 16px hsla(268, 58%, 4%, .2);
      padding: 6rem 3rem;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      transition: right .4s;
    }
  }
  
  .nav_item:hover{
    transform: scale(1.1);
  }
  
  .nav_content_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav_button {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
   
  }
  
  .nav_button:hover {
    color: var(--title-color);
    transform: scale(1.1);
  }
  
  .nav_button {
    display: inline-block;
    width: max-content;
    background-color: var(--body-color);
    border: 2px solid var(--text-color);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    z-index: 2;
  }
  
  .logo, 
  .nav_toggle, 
  .nav_close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav_close {
    position: absolute;
    top: .75rem;
    right: 1.5rem;
  }
  
  .nav_toggle, 
  .nav_close {
    border-radius: 50%;
    font-size: 1.25rem;
    background-color: var(--first-color-alt);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
  
  /* Show menu */
  .show-menu {
    right: 0;
  }
  
  @media screen and (min-width: 1023px) {
    .nav {
      height: calc(var(--header-height) + 2rem);
    }
    .nav_bar {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 4.5rem;
    }
    .nav_content_list {
      margin-left: auto;
      flex-direction: row;
      column-gap: 4.5rem;
    }
  }
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  
    .home_container {
      grid-template-columns: 460px 650px;
      align-items: center;
      z-index: 5;
    }
    .home_subtitle {
      font-size: var(--normal-font-size);
      margin-bottom: .75rem;
    }
    .home_title {
      letter-spacing: -3px;
      margin-bottom: 1rem;
    }
    .home_title img {
      width: 250px;
      right: -.75rem;
    }
    .home_description {
      font-size: var(--h3-font-size);
      margin-bottom: 3rem;
    }
}

.nav_button_normal {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    
  }
  
  .nav_button_normal:hover {
    color: var(--title-color); 
  }

  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }