/* Add your CSS styles for the study help page here */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(268, 58%, 48%);
  --first-color-alt: hsl(268, 28%, 38%);
  --second-color: hsl(335, 88%, 56%);
  --second-color-alt: hsl(328, 78%, 38%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(252, 100%, 87%);
  --body-color: hsl(268, 58%, 22%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


.help-container{
  animation: slideIn 0.5s ease forwards;
  justify-content: center;
  align-items: center;
  display: flex;
}

.study-help {
    text-align: center;
    padding: 20px;
    
}

.comment-form {
    margin-bottom: 20px;
}

textarea#comment-text {
    width: 500px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}

button#submit-comment {
    padding: 10px 20px;
    background-color: var(--first-color);
    background: linear-gradient(to right, #9C27B0, #E040FB);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
}

button#submit-comment:hover {
    transform: scale(1.05);
}


.comments-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideIn 0.5s ease forwards;
}

.comment {
  padding: 10px;
  margin: 20px 0;
  opacity: 0.90;
  background-color: var(--first-color-alt);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; /* Adjust the margin */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: auto; /* Adjust height to accommodate content */
  width: 90%; /* Calculate the width for three cards in a row */
  color: var(--title-color);
  text-align: center;
  border: none;
  display: flex; /* Add display flex to arrange content horizontally */
  align-items: center; /* Center content vertically */
  justify-content: space-between; /* Add space between title and votes */
}

.comment-card {
  text-align: center;
  width: 100%;
}

.comment:hover{
transform: scale(1.02);
}

.comment-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center; /* Center-align the comment title */
  margin-left: 15%;
  color: var(--second-color);
  
}


.comment-text {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center; /* Center-align the comment text */
  margin-left: 15%;
}

.comment .upvote,
.comment .downvote {
  margin-right: 10px;
  cursor: pointer;
}

.comment-votes {
  font-size: 0.9rem;
  color: var(--text-color);
  width: 15%;
}

.upvote:hover{
  color: #E040FB;
}
.downvote:hover{
  color: #E040FB;
}

.course-card {
    opacity: 0.8;
    background-color: var(--first-color-alt);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 60px; /* Adjust the margin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 250px;
    width: calc(33.33% - 30px); /* Calculate the width for three cards in a row */
    color: var(--title-color);
    text-align: center;
    border: none;
    position: relative;
}

.course-card:hover{
    transform: scale(1.05);
}

.course-list {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    width: 80%;
   
}




  .comment-form-container {
    background-color: var(--first-color-alt);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.comment-form {

  width: 100%;
}

.click-for-more {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 14px;
  color: var(--text-color); /* Blue color for the link text */
  cursor: pointer;
}

.click-for-more:hover{
  color: #E040FB;
}

.home_images {
  position: relative;
  height: 50px;
  animation: slideIn 0.5s ease forwards;
}

.home_images img {
  position: absolute;
  animation: slideIn 0.5s ease forwards;
}

.home_points {
  width: 320px;
  top: -1rem;
  animation: slideIn 0.5s ease forwards;
}

.home_planet-1 {
  width: 100px;
  top: 1.25rem;
  left: .75rem;
  animation: slideIn 0.5s ease forwards;
}

.home_planet-2 {
  width: 70px;
  right: 0;
  top: -1.25rem;
  animation: slideIn 0.5s ease forwards;
}



.home_cloud-1 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.home_cloud-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

li{
  color: var(--text-color);
}

li:hover{
  color: #E040FB;
  cursor: pointer;
}

.add-comment-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e32f45;
    opacity: 0.9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: pulse 1.5s infinite;
}

.add-comment-button:hover {
    background-color: var(--second-color-alt);
}

.add-comment-button i {
    font-size: 24px;
    color: var(--title-color);
}

.modal {
  display: none;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  width: 600px;
  height: 600px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  background-color: var(--body-color);
  padding: 20px;
  border-radius: 5px;
  background-color: var(--first-color-alt);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: 100%; /* Ensure the content width matches the modal width */
  height: 95%;
  animation: slideIn 0.5s ease forwards;
  border-radius: 30px;
  background-color: rgba(91, 2, 107,0.95);
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.close:hover{
   color: #E040FB;
}

/* Center the modal content vertically and horizontally */
.modal-content h2 {
  margin-bottom: 10px;
}

#comment-title{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

input{
  text-align: center;
}

.home_rocket {
  width: 110px;
  animation: slideIn 0.5s ease forwards;
  z-index: -5;
  left: 65%;
}

.title_rocket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Center content vertically and align items in a column */

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}




  

